.containerImg {
    /* text-align: center; */
    transition: all 0.3s;
    display: flex;
    /* justify-content: center; */
    align-items: center;
    flex-direction: column;
}
.wrapperPreview {
    height: 60vh;
    margin-bottom: 8px;
    /* width: 60%; */
}

.inputTextField {
    -webkit-line-clamp: 3;
    color: #0d1216;
    background-color: rgb(248, 249, 250);
    text-align: start;
    font-size: 24px;
    line-height: 32px;
    outline: none;
    /* border: none; */
    overflow-wrap: break-word;
}
.wrapperInput {
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
}
.wrapperInput > * {
    margin-bottom: 32px !important;
}
.submitBtn {
    display: flex;
    align-items: center;
    justify-content: center;
}
.submitBtn button:hover {
    background-color: #2d8ee4;
}
.submitBtn button {
    transition: opacity 0.15s ease-in-out;
    background-color: #2f95ec;
    color: #fff;
    outline-offset: 4px;
    font-size: 14px;
    font-weight: 600;
    height: 40px;
    border: none;
    outline: none;
    width: 100%;
    /* height: 100%; */
    border-radius: 6px;
}

.title {
    -webkit-line-clamp: 3;
    color: #0d1216;
    background-color: rgb(248, 249, 250);
    text-align: start;
    font-size: 24px;
    font-weight: 500;
    line-height: 40px;
    font-family: Canva Sans, Noto Sans Variable, Noto Sans, -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica,
        Arial, sans-serif;
    /* font-weight: 700; */
    overflow-wrap: break-word;
    margin-bottom: 8px;
}
.publishYear {
    display: flex;
    align-items: center;
    font-weight: 400;
    font-size: 14px;
    margin-bottom: 12px;
}

.publishYear svg {
    font-size: 4px;
    margin: 4px;
}

.avatar {
    display: flex;
    font-size: 18px;
    align-items: center;
}
.avatar span {
    color: #0d1216;
    margin-left: 4px;
}
.avatar img {
    background: transparent 50% / cover no-repeat;
    background-clip: content-box;
    border-radius: 50%;
    box-sizing: border-box;
    display: block;
    font-family: Canva Sans, Noto Sans Variable, Noto Sans, -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica,
        Arial, sans-serif;
    overflow: hidden;
    font-size: 32px;
    width: 32px;
    margin-right: 6px;
}

.paragraph {
    margin-top: 24px;
    font-family: Roboto, Helvetica Neue, Helvetica, Arial, sans-serif;
    font-weight: 300;
    font-size: 20px;
}

.wrapCategory {
    margin-top: 24px;
    display: flex;
}

.wrapCategory > * {
    margin-right: 8px;
}

.wrapForm {
    display: flex;
}
